<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>List ALL Books</title>
</head>
<body>
<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
		Hello <span th:text="${session.loginId}">login id</span>!
			 <form action="bookRetrieveByCategory" method ="post">
				類別:<select class="selectpicker" name = "bookCategory" th:field="${bookCategory.id}">
						<option th:each="bookCategory : ${allBookCategories}" 
		            			th:value="${bookCategory.id}" 
		            			th:text="${bookCategory.name}">財經企管</option>
					</select> <input type="submit" class="btn btn-info btn-md" value="查詢"/>
			 </form>
		</div>
		<div class="col-sm-4"><a href="bookCreate"><input type="button" class="btn btn-warning btn-block" value="新增書籍"/></a></div>
		<div class="col-sm-4"><a href="bookRetrieveAll"><input type="button" class="btn btn-success btn-block" value="所有書籍"/></a></div>
	</div>
</div>
<br/>
<div class="container">
	<table class="table table-hover">
		<thead>
		  <tr>
			  <th>編號</th>
			  <th>類別</th>
			  <th>名稱</th>
			  <th>價格</th>
			   <th>庫存量</th>
			    <th>安全庫存量</th>
			     <th>出版社</th>
			      <th>期數</th>
			       <th>出版日期</th>
			       
			  <th></th>
		  </tr>
		</thead>
		<tbody>
		  <tr th:each="book : ${allBooks} " th:object="${book}">
		    <td th:text="*{id}">1</td>
		    <td th:text="*{bookCategory.name}">business</td>
		    <td th:text="*{name}">Adam</td>
		    <td th:text="*{quality}">0</td>
		    <td th:text="*{safequality}">0</td>
		    <td th:text="*{publish}">aa</td>
		    <td th:text="*{number}">1</td>
		    <td th:text="*{date}">4/21</td>
		  	<td><a th:href="@{bookUpdate(id=*{id})}">修改</a> <a th:href="@{bookDelete(id=*{id})}">刪除</a></td>
		  <td><a th:href="@{shoppingCartAdd(id=*{id})}">加入購物車</a></td>
		  </tr>
		</tbody>
	</table>
</div>

</body>
</html>