<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Update Books</title>
</head>
<body>

<div class="container">
	<form action="bookUpdate" th:object="${book}" method="post">
		<div class="form-group">
			<input type="hidden" name ="id" th:field="*{id}"/>
			<label for="bookName">書名：</label> <input type="text" class="form-control" name="name" th:field="*{name}"/><br />
			<label for="bookCG">類別：</label>
			<select name="bookCategory" class="form-control" th:field="*{bookCategory}">
				<option th:each="bookCategory : ${allBookCategories}"
						th:value="${bookCategory.id}"
						th:text="${bookCategory.name}">default</option>
			</select><br/>
			<label for="bookPrice">價錢：</label> <input type="text" class="form-control" name="price" th:field="*{price}"/><br/>
			<label for="bookPrice">安全存量：</label> <input type="text" class="form-control" name="safequality" th:field="*{safequality}"/><br/>
			<label for="bookPrice">庫存量：</label> <input type="text" class="form-control" name="quality" th:field="*{quality}"/><br/>
			<label for="bookPrice">出版社：</label> <input type="text" class="form-control" name="publish" th:field="*{publish}"/><br/>
			<label for="bookPrice">期數：</label> <input type="text" class="form-control" name="number" th:field="*{number}"/><br/>
			<label for="bookPrice">出版日期：</label> <input type="text" class="form-control" name="date" th:field="*{date}"/><br/>
			
			<input type="submit" class="btn btn-warning" value="修改"/>
		</div>
	</form>
</div>

</body>
</html>