
<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Create new Book</title>
</head>

<body>
Hello <span th:text="${session.loginId}">id</span>!
	<div class="container">
		<form action="bookCreate" th:object="${book}" method="post">
			<div class="form-group">
				<label for="bookName">書名：</label> <input type="text" class="form-control" name="name" /><br />
				<label for="bookCG">類別：</label>
				<select name="bookCategory" class="form-control">
					<option th:each="bookCategory : ${allBookCategories}"
							th:value="${bookCategory.id}"
							th:text="${bookCategory.name}">default</option>
				</select><br/>
				<label for="bookPrice">價錢：</label> <input type="text" class="form-control" name="price" /><br/>
				<label for="safequality">安全存量：</label> <input type="text" class="form-control" name="safequality" /><br/>
				<label for="safequality">出版社：</label> <input type="text" class="form-control" name="publish" /><br/>
				<label for="safequality">期數：</label> <input type="text" class="form-control" name="number" /><br/>
				<label for="safequality">出版日期：</label> <input type="text" class="form-control" name="date" /><br/>
				<label for="safequality">庫存量：</label> <input type="text" class="form-control" name="quality" /><br/>
				
				<input type="submit" class="btn btn-success" value="新增"/>
			</div>
		</form>

	</div>

</body>
</html>