<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Retrieve Products</title>
</head>

<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">顏甫任 DB作業</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="productCreate">新增產品</a></li>
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="https://www.google.com.tw/">Google</a></li>
    </ul>
 </div>

</nav>
<div class="container">
<table class="table table-hover">
<thead>
  <tr>
  <th>產品編號</th>
  <th>產品名稱</th>
  <th>產品種類</th>
  <th>產品庫存</th>
  <th>產品安全存量</th>
  <th>產品敘述</th>
 </tr>
 </thead>
 <tbody>
    <tr th:each="product : ${product} " th:object="${product}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">Adam</td>
        <td th:text="*{type}">Yen</td>
        <td th:text="*{inventory}">Fu Jen</td>
        <td th:text="*{safeStock}">22</td>
        <td th:text="*{description}">description</td>
        <td><a th:href="@{productUpdate(id=${product.id})}">修改</a> <a th:href="@{productDelete(id=${product.id})}">刪除</a></td>
    </tr>
</tbody>
</table>
</div>

</body>
</html>