<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello!</title>
</head>
<body>
<h2>Product name: <span th:text="${name}"></span></h2>
<h2>Product type: <span th:text="${type}"></span></h2>
<h2>Product inventory: <span th:text="${inventory}"></span></h2>
<h2>Product safe storage: <span th:text="${safeStock}"></span></h2>
    
</body>
</html>