<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shopping Cart</title>
</head>
<body>
Shopping Cart for <span th:text="${session.loginId}">login id</span>
<a href="bookRetrieveAll"><input type="button" value="Keep Shopping"/></a>
<a href="cleanShoppingCart"><input type="button" value="Clean up Shopping Cart"/></a>
<table>
  <tr>
  <th>編號</th>
  <th>類別</th>
  <th>名稱</th>
  <th>價格</th>
  <th></th>
 </tr>
     <tr th:each="book : ${@shoppingCart.cart} " th:object="${book}">
        <td th:text="*{id}">1</td>
        <td th:text="*{bookCategory.name}">business</td>
        <td th:text="*{name}">Ben</td>
        <td th:text="*{price}">300</td>
    </tr>
 
</table>

</body>
</html>